uvicorn==0.24.0
pydantic==2.5.0
numpy==1.24.4
bcrypt==4.0.1
fastapi-mail==1.4.1
torch==2.1.0
torchaudio==2.1.0
torchvision==0.16.0
sqlalchemy==2.0.23
soundfile==0.12.1
pyjwt==2.8.0
passlib==1.7.4
librosa==0.10.1
fastapi==0.104.1
python-dotenv==1.0.0
pydub==0.25.1
matplotlib==3.8.2
PyWavelets==1.4.1
pandas==2.1.4
transformers==4.36.0