.labelEditor {
    position: fixed;
    width: auto;
    height: auto;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.95);
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    box-shadow: 0px 6px 20px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.labelSelector {
    background: none;
    box-shadow: none;
    font-size: 18px;
    outline: none;
}

.addLabel {
    height: 30px;
    width: 30px;
    display: flex;
}